<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{% static 'sitehome/bs/bootstrap.min.css' %}">

    <!-- jQuery library -->
    <script src="{% static 'sitehome/bs/jquery.min.js' %}"></script>

    <!-- Popper JS -->
    <script src="{% static 'sitehome/bs/popper.min.js' %}"></script>

    <!-- Latest compiled JavaScript -->
    <script src="{% static 'sitehome/bs/bootstrap.min.js' %}"></script>

    <title>{% block title %}Deafult title{% endblock %}</title>
    
    <link rel="stylesheet" href="{% static 'sitehome/css/main.css' %}">
</head>
<body>
    {% block body %} {% endblock %}
</body>
</html>