{% extends 'sitehome/index.html' %}
{% load staticfiles %}
    <!-- navbar call to action  -->
    {% block nav_call_btn %}
    <a href="{% url 'sitehome:getStarted' %}">
        <li><button>Get Started</button></li>
    </a>
    {% endblock %}


    {% block body %}
    <!-- login  -->
    <main class="login">

        <!-- demo user -->
        <div class="demo-user">
            <div class="login-img">
                <img src="{% static 'sitehome/img/login.jpg' %}" alt="">
            </div>
            <h1>Demo User Credentials</h1>
            <hr>
            <h2>Copy these to login</h2>
            <!-- username -->
            <div class="user-pass">
                <p class="">Username:</p> <p class="cont">username</p>
            </div>
            <!-- password -->
            <div class="user-pass">
                <p class="">Password:</p> <p class="cont">password</p>
            </div>
        </div>

        <!-- login form -->
        <div class="login-form">
            <div class="avatar">
                <img src="{% static 'sitehome/img/undraw_profile_pic_ic5t.svg' %}" alt="">
            </div>
            <div class="form">
                <form action="">
                    <div class="title">
                        <h1>Login</h1>
                    </div>
                    <hr>
                    <!-- user  -->
                    <div class="element">
                        <div class="label">
                            <label for="username">Username:</label>
                        </div>
                        <div class="input">
                            <input type="text" name="user" id="user">
                        </div>
                    </div>
                    <!-- pass  -->
                    <div class="element">
                        <div class="label">
                            <label for="username">Password:</label>
                        </div>
                        <div class="input">
                            <input type="password" name="pass" id="pass">
                        </div>
                    </div>
                    <!-- buttons  -->
                    <div class="buttons">
                        <button class="in" type="submit" name="login" id="login" disabled>Login</button>
                        <button class="no" type="reset" >Reset</button>
                    </div>
                </form>
            </div>
        </div>
    </main>

    <!-- foot  -->
    <footer class="login-footer">
        gradez.xyz
    </footer>

    {% endblock %}
</body>
</html>