*, html {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: sans-serif;
  list-style: none;
  scroll-behavior: smooth;
}

@media screen and (max-width: 440px) {
  a:link, a:visited {
    color: white;
  }
  nav {
    margin: auto 15px;
    padding: 15px;
  }
  nav .burger {
    border-style: none;
    background: none;
    float: right;
  }
  nav button:focus {
    outline: none;
  }
  nav .logo {
    color: #00BFA6;
    font-weight: bold;
    font-size: 18px;
  }
  nav ul {
    background: #00BFA6;
    text-align: center;
    margin: 15px auto;
    border-radius: 15px;
  }
  nav ul a:link {
    color: white;
    display: block;
  }
  nav ul li {
    padding: 15px;
    font-weight: bold;
  }
  nav ul li button {
    padding: 15px 5px;
    width: 70%;
    border-radius: 50px;
    font-weight: bold;
    color: white;
    border-style: none;
    background: #444053;
  }
  nav ul li:hover {
    background: #008C7A;
  }
  header .side-img {
    padding: 50px;
    z-index: 2;
  }
  header .side-img img {
    width: 100%;
    z-index: 3;
  }
  header .main-up {
    background: #00BFA6;
    position: relative;
    height: 70px;
    width: 100%;
    margin-top: -70px;
    -webkit-clip-path: polygon(75.43% 0%, 0% 60%, 0% 100%, 100% 100%, 100% 60%);
            clip-path: polygon(75.43% 0%, 0% 60%, 0% 100%, 100% 100%, 100% 60%);
    z-index: -5;
  }
  header .main-card {
    margin-top: -3px;
    background: #00BFA6;
    color: white;
    text-align: center;
    padding: 30px;
  }
  header .main-card h1 {
    font-size: 24px;
    margin: 15px auto;
  }
  header .main-card p {
    font-size: 13px;
    margin: 15px auto;
    font-weight: bold;
  }
  header .main-card button {
    width: 80%;
    margin: 15px auto;
    padding: 15px;
    border: none;
    border-radius: 15px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: #444053;
  }
  header .main-down {
    margin-top: -3px;
    background: #00BFA6;
    height: 70px;
    width: 100%;
    -webkit-clip-path: polygon(75.43% 92.86%, 0% 20%, 0% 0%, 100% 0%, 100% 20%);
            clip-path: polygon(75.43% 92.86%, 0% 20%, 0% 0%, 100% 0%, 100% 20%);
  }
  main .cause-up {
    background: #00BFA6;
    margin-top: 100px;
    height: 70px;
    width: 100%;
    -webkit-clip-path: polygon(24.32% 8.58%, 0% 80%, 0% 100%, 100% 100%, 100% 80%);
            clip-path: polygon(24.32% 8.58%, 0% 80%, 0% 100%, 100% 100%, 100% 80%);
  }
  main .the-cause {
    margin-top: -3px;
    background: #00BFA6;
    padding: 30px 0;
  }
  main .the-cause .title {
    background: white;
    padding: 3px 0;
    text-align: center;
    color: #444053;
    border: 3px solid #444053;
    border-radius: 5px;
    margin: auto 30px;
    font-size: 13px;
    font-weight: bold;
  }
  main .the-cause .cause-card {
    margin: 30px 30px 0 30px;
    background: white;
    border-radius: 15px;
  }
  main .the-cause .cause-card .cause-img {
    padding: 30px 60px;
  }
  main .the-cause .cause-card .cause-img img {
    width: 100%;
    height: auto;
  }
  main .the-cause .cause-card .cause-para {
    background: #444053;
    color: white;
    border-radius: 0 0 15px 15px;
    padding: 30px;
    font-size: 13px;
  }
  main .cause-down {
    background: #00BFA6;
    margin-top: -3px;
    height: 70px;
    width: 100%;
    -webkit-clip-path: polygon(50% 10%, 100% 100%, 100% 0%, 0% 0%, 0% 100%);
            clip-path: polygon(50% 10%, 100% 100%, 100% 0%, 0% 0%, 0% 100%);
  }
  aside.about-us .about-title {
    background: white;
    padding: 3px 0;
    text-align: center;
    color: #444053;
    border: 3px solid #444053;
    border-radius: 5px;
    margin: 30px;
    font-size: 13px;
    font-weight: bold;
  }
  aside.about-us .about-img {
    padding: 40px;
    margin: 0 30px;
  }
  aside.about-us .about-img img {
    width: 100%;
    height: auto;
  }
  aside.about-us .about-para {
    background: #444053;
    font-size: 13px;
    padding: 30px;
    color: white;
    border-radius: 15px;
    margin: -50px 30px 30px 30px;
  }
  aside.contact-us {
    margin-top: 15px;
  }
  aside.contact-us .top {
    background: #00BFA6;
    padding: 30px;
    border-radius: 15px 15px 0 0;
  }
  aside.contact-us .top .contact-title {
    background: white;
    padding: 3px 0;
    text-align: center;
    color: #444053;
    border: 3px solid #444053;
    border-radius: 5px;
    margin: 0 30px;
    font-size: 13px;
    font-weight: bold;
  }
  aside.contact-us .top .contact-img {
    padding: 30px;
    margin-top: 30px;
    background: white;
    border-radius: 15px;
  }
  aside.contact-us .top .contact-img img {
    width: 100%;
    height: auto;
  }
  aside.contact-us .down {
    margin-top: -3px;
    background: #00BFA6;
    padding-bottom: 15px;
    border-radius: 0 0 0 15px;
  }
  aside.contact-us .down .contact-form {
    background: #444053;
    margin: 0 30px 30px 30px;
    padding: 30px;
    border-radius: 15px;
  }
  aside.contact-us .down .contact-form form h4 {
    font-size: 14px;
    color: white;
    text-align: center;
    padding: 15px;
    margin: auto 30px;
  }
  aside.contact-us .down .contact-form form hr {
    border: 1px solid white;
    border-radius: 15px;
    margin: auto 15px;
  }
  aside.contact-us .down .contact-form form .field {
    margin: 15px;
    padding: 5px;
    background: white;
    border-radius: 5px;
  }
  aside.contact-us .down .contact-form form .field input, aside.contact-us .down .contact-form form .field textarea {
    width: 100%;
    border: 0;
    color: #444053;
    font-size: 13px;
  }
  aside.contact-us .down .contact-form form .field input:focus, aside.contact-us .down .contact-form form .field textarea:focus {
    outline: none;
  }
  aside.contact-us .down .contact-form form .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto 15px;
  }
  aside.contact-us .down .contact-form form .buttons button {
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin: auto 5px;
    font-weight: bold;
  }
  aside.contact-us .down .contact-form form .buttons .send {
    background: #00BFA6;
    color: white;
  }
  aside.contact-us .extra-card {
    margin-top: -3px;
    height: 30px;
    background: #00BFA6;
    border-bottom-right-radius: 15px;
    width: 100%;
    -webkit-clip-path: polygon(1.12% 0px, 100% 0px, 100% 100%, 36% 99%);
            clip-path: polygon(1.12% 0px, 100% 0px, 100% 100%, 36% 99%);
  }
  footer {
    background: #444053;
    color: white;
    padding: 45px 10px 15px;
    position: relative;
    margin-top: -50px;
    z-index: -2;
    font-size: 13px;
    font-weight: bold;
  }
  main.get-started .get-started-img {
    margin-top: 30px;
    padding: 30px;
  }
  main.get-started .get-started-img img {
    width: 100%;
    height: auto;
  }
  main.get-started .get-started-para {
    margin: 0 30px;
    text-align: center;
  }
  main.get-started .get-started-para h1 {
    font-size: 24px;
    font-weight: 300;
    padding: 30px;
  }
  main.get-started .get-started-para p {
    font-size: 18px;
    font-weight: lighter;
    padding: 0 0px;
  }
  main.get-started .get-started-para a {
    background: #444053;
    display: block;
    margin: 15px;
    border-radius: 50px;
    padding: 15px;
    font-size: 18px;
    font-weight: 300;
  }
  main.get-started .get-started-para p.sub-txt {
    font-size: 14px;
    font-weight: lighter;
  }
  aside.work {
    background: #00BFA6;
    margin: 50px 0;
    padding: 30px;
  }
  aside.work .title {
    text-align: center;
    font-size: 18px;
    color: white;
  }
  aside.work .side-img {
    background: white;
    padding: 30px;
    margin: 30px 0 0;
    border-radius: 15px 15px 0 0;
  }
  aside.work .side-img img {
    height: auto;
    width: 100%;
  }
  aside.work .progress-para {
    background: #444053;
    padding: 30px;
    border-radius: 0 0 15px 15px;
    color: white;
    font-size: 18px;
    margin-bottom: 30px;
  }
  aside.meanwhile {
    padding: 0 30px;
  }
  aside.meanwhile .para {
    text-align: center;
  }
  aside.meanwhile .para h1 {
    font-size: 24px;
    margin: 30px 0;
  }
  aside.meanwhile .para p {
    font-size: 18px;
  }
  aside.meanwhile .para a {
    background: #444053;
    margin: 30px;
    padding: 15px;
    display: block;
    border-radius: 5px;
  }
  aside.meanwhile .side-img {
    padding: 30px;
  }
  aside.meanwhile .side-img img {
    width: 100%;
    height: auto;
  }
  main.login {
    padding: 30px;
  }
  main.login .demo-user {
    margin-top: 50px;
    border: 3px solid #444053;
    padding: 30px;
    border-radius: 15px;
  }
  main.login .demo-user .login-img {
    padding: 30px;
  }
  main.login .demo-user .login-img img {
    width: 100%;
    height: auto;
  }
  main.login .demo-user h1 {
    font-size: 18px;
    margin: 5px 0;
  }
  main.login .demo-user hr {
    border: 3px double #444053;
    margin: 5px 0;
  }
  main.login .demo-user h2 {
    font-size: 14px;
    margin: 5px 0;
    font-weight: lighter;
  }
  main.login .demo-user .user-pass {
    margin: 5px 0;
  }
  main.login .demo-user .user-pass p {
    font-weight: bold;
    margin: 5px 0;
  }
  main.login .demo-user .user-pass p.cont {
    background: #00BFA6;
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
  }
  main.login .login-form {
    margin-top: 50px;
  }
  main.login .login-form .avatar {
    padding: 75px;
  }
  main.login .login-form .avatar img {
    width: 100%;
    height: auto;
  }
  main.login .login-form .form {
    background: #00BFA6;
    margin-top: -150px;
    border-radius: 15px;
  }
  main.login .login-form .form .title {
    padding: 100px 0 5px;
    margin: 5px 30px;
    color: white;
    font-size: 14px;
  }
  main.login .login-form .form hr {
    border: 3px dashed white;
    margin: 5px 30px;
  }
  main.login .login-form .form .element {
    padding: 5px 30px;
  }
  main.login .login-form .form .element .label {
    margin-bottom: 5px;
  }
  main.login .login-form .form .element .input {
    background: white;
    border-radius: 5px;
    padding: 5px;
  }
  main.login .login-form .form .element .input input {
    width: 100%;
    border: 0;
    font-size: 14px;
    font-weight: bold;
    color: #444053;
  }
  main.login .login-form .form .buttons {
    padding: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  main.login .login-form .form .buttons button {
    font-size: 14px;
    font-weight: bold;
    padding: 5px 15px;
    width: 45%;
    border: 0;
    border-radius: 5px;
  }
  main.login .login-form .form .buttons .in {
    background: #444053;
    color: white;
  }
  main.login .login-form .form .buttons .no {
    margin-left: auto;
  }
  footer.login-footer {
    font-weight: bold;
    margin-top: 50px;
  }
}

@media screen and (min-width: 768px) {
  .nav-bar {
    background: #00BFA6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 100px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-bar a:link, .nav-bar a:visited {
    color: white;
  }
  .nav-bar .logo {
    font-size: 18px;
    font-weight: bold;
  }
  .nav-bar ul {
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-bar ul li {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin: 0 5px;
    padding: 15px;
  }
  .nav-bar ul li button {
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    color: white;
    background: #444053;
    border: none;
    border-radius: 50px;
    padding: 5px 15px;
  }
  .nav-bar ul li:hover {
    background: #008C7A;
  }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 100px;
  }
  header .side-img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding: 50px 100px;
  }
  header .side-img img {
    height: auto;
    width: 100%;
  }
  header .main-card {
    background: #3DCAB7;
    margin: auto 0;
    padding: 70px 50px;
    color: white;
    border-radius: 0 100px 100px 100px;
  }
  header .main-card h1 {
    font-size: 28px;
    font-weight: bold;
  }
  header .main-card p {
    font-size: 14px;
    font-weight: bold;
    margin: 50px 0;
  }
  header .main-card button {
    cursor: pointer;
    background: #444053;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    padding: 10px 30px;
  }
  main .cause-up {
    margin-top: -100px;
    margin-bottom: -5px;
    position: relative;
    z-index: -2;
    height: 300px;
    background: #00BFA6;
    -webkit-clip-path: polygon(50% 70%, 100% 15%, 100% 100%, 0% 100%, 0% 15%);
            clip-path: polygon(50% 70%, 100% 15%, 100% 100%, 0% 100%, 0% 15%);
  }
  main .the-cause {
    background: #00BFA6;
  }
  main .the-cause .title {
    font-size: 18px;
    font-weight: bold;
    background: white;
    color: #444053;
    border: 5px solid #444053;
    padding: 10px 0;
    border-radius: 15px;
    margin: auto 100px;
    text-align: center;
  }
  main .the-cause .cause-card {
    background: white;
    border-radius: 15px;
    margin: 50px 100px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  main .the-cause .cause-card .cause-img {
    padding: 50px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  main .the-cause .cause-card .cause-img img {
    width: 100%;
    height: auto;
  }
  main .the-cause .cause-card .cause-para {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
    background: #444053;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin: 50px;
    padding: 50px;
    color: white;
  }
  main .the-cause .cause-card:nth-child(odd) .cause-img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  main .cause-down {
    height: 200px;
    background: #00BFA6;
    -webkit-clip-path: polygon(100% 0%, 100% 100%, 50% 20%, 0% 100%, 0% 0%);
            clip-path: polygon(100% 0%, 100% 100%, 50% 20%, 0% 100%, 0% 0%);
  }
  aside.about-us .about-title {
    border: 5px solid #444053;
    border-radius: 15px;
    padding: 15px;
    margin: 100px;
    text-align: center;
    color: #444053;
  }
  aside.about-us .about-img {
    padding: 0 300px;
  }
  aside.about-us .about-img img {
    width: 100%;
    height: auto;
  }
  aside.about-us .about-para {
    background: #444053;
    color: white;
    border-radius: 15px;
    margin: 0 100px;
    margin-top: -30px;
    padding: 100px;
    font-size: 18px;
    position: relative;
    z-index: -2;
  }
  aside.contact-us {
    margin-top: 100px;
  }
  aside.contact-us .top {
    padding: 50px 100px 100px;
    background: #00BFA6;
    -webkit-clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 0% 100%);
            clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
  aside.contact-us .top .contact-title {
    border: 5px solid #444053;
    background: white;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #444053;
    border-radius: 15px;
    padding: 15px;
    width: 30%;
    float: right;
  }
  aside.contact-us .down {
    margin-top: -3px;
    background: #00BFA6;
    padding: 0 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  aside.contact-us .down .contact-img {
    padding: 100px;
    background: white;
    margin: 0px -50px 0px 0;
    -webkit-clip-path: polygon(0% 20%, 100% 0%, 100% 100%, 0% 70%);
            clip-path: polygon(0% 20%, 100% 0%, 100% 100%, 0% 70%);
  }
  aside.contact-us .down .contact-img img {
    width: 100%;
    height: auto;
  }
  aside.contact-us .down .contact-form {
    position: relative;
    z-index: 0;
    background: #444053;
    padding: 100px;
    border-radius: 15px;
  }
  aside.contact-us .down .contact-form h4 {
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 15px;
  }
  aside.contact-us .down .contact-form hr {
    border: 3px solid white;
    border-radius: 50px;
  }
  aside.contact-us .down .contact-form .field {
    border-radius: 5px;
    padding: 15px;
    background: white;
    margin-top: 15px;
  }
  aside.contact-us .down .contact-form .field input, aside.contact-us .down .contact-form .field textarea {
    outline: none;
    border: 0;
    font-size: 15px;
    color: #444053;
  }
  aside.contact-us .down .contact-form .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 15px;
  }
  aside.contact-us .down .contact-form .buttons button {
    padding: 10px 15px;
    width: 100%;
    margin: auto 5px;
    border: none;
    border-radius: 5px;
  }
  aside.contact-us .down .contact-form .buttons .send {
    color: white;
    font-size: 14px;
    font-weight: bold;
    background: #00BFA6;
  }
  aside.contact-us .extra-card {
    margin-top: -3px;
    height: 100px;
    background: #00BFA6;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 26% 100%, 0 28%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 26% 100%, 0 28%);
  }
  footer {
    padding: 100px 15px 15px;
    margin-top: -75px;
    background: #444053;
    color: white;
    font-size: 18px;
    font-weight: bold;
  }
  main.get-started {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 100px;
  }
  main.get-started .get-started-img {
    text-align: center;
    margin: 30px auto;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  main.get-started .get-started-img img {
    width: 100%;
    height: auto;
  }
  main.get-started .get-started-para {
    padding: 50px 0;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  main.get-started .get-started-para h1 {
    font-size: 32px;
    margin: 30px 0;
  }
  main.get-started .get-started-para p {
    font-size: 24px;
    font-weight: 300;
  }
  main.get-started .get-started-para a {
    background: #444053;
    color: white;
    display: block;
    text-align: center;
    width: 50%;
    margin: 30px 0;
    padding: 15px;
    font-size: 24px;
    border-radius: 15px;
    font-weight: bold;
  }
  main.get-started .get-started-para p.sub-txt {
    font-size: 14px;
    font-weight: lighter;
  }
  aside.work {
    background: #00BFA6;
    padding: 0 100px 100px;
    display: -ms-grid;
    display: grid;
        grid-template-areas: "t t t" "i p p";
  }
  aside.work .title {
    text-align: center;
    font-size: 24px;
    color: white;
    padding: 50px;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: t;
  }
  aside.work .side-img {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: i;
    background: white;
    padding: 30px 50px;
    border-radius: 15px;
  }
  aside.work .side-img img {
    width: 100%;
    height: auto;
  }
  aside.work .progress-para {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: p;
    margin-left: 100px;
    background: #444053;
    color: white;
    font-size: 24px;
    font-weight: lighter;
    padding: 50px;
    border-radius: 15px;
  }
  aside.meanwhile {
    margin: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  aside.meanwhile .para {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  aside.meanwhile .para h1 {
    font-size: 32px;
    margin: 50px;
  }
  aside.meanwhile .para p {
    font-size: 18px;
    margin: 0 50px;
  }
  aside.meanwhile .para a {
    display: block;
    background: #444053;
    margin: 50px;
    color: white;
    padding: 15px;
    width: 50%;
    text-align: center;
    font-size: 24px;
    border-radius: 15px;
  }
  aside.meanwhile .side-img {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  aside.meanwhile .side-img img {
    width: 100%;
    height: auto;
  }
  main.login {
    margin: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  main.login .demo-user {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    border: 5px solid #444053;
    border-radius: 15px;
    padding: 50px;
  }
  main.login .demo-user .login-img {
    padding: 50px;
  }
  main.login .demo-user .login-img img {
    width: 100%;
    height: auto;
  }
  main.login .demo-user h1 {
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 15px;
  }
  main.login .demo-user hr {
    border: 5px double #444053;
    margin-bottom: 15px;
  }
  main.login .demo-user h2 {
    font-size: 18px;
    font-weight: lighter;
    margin-bottom: 15px;
  }
  main.login .demo-user .user-pass {
    margin-bottom: 15px;
  }
  main.login .demo-user .user-pass p {
    font-weight: bold;
  }
  main.login .demo-user .user-pass p.cont {
    background: #00BFA6;
    color: white;
    padding: 15px;
    border-radius: 5px;
    margin: 5px 0;
  }
  main.login .login-form {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    margin-left: 200px;
  }
  main.login .login-form .avatar {
    padding: 0 150px;
  }
  main.login .login-form .avatar img {
    width: 100%;
    height: auto;
  }
  main.login .login-form .form {
    margin-top: -100px;
    background: #00BFA6;
    padding: 100px;
    border-radius: 50px;
  }
  main.login .login-form .form .title {
    color: white;
    margin-top: 50px;
  }
  main.login .login-form .form hr {
    border: 3px dashed white;
    margin: 15px 0;
  }
  main.login .login-form .form .element {
    margin: 15px 0;
  }
  main.login .login-form .form .element .label {
    font-size: 18px;
    font-weight: lighter;
    margin: 5px 0;
  }
  main.login .login-form .form .element .input {
    background: white;
    padding: 5px;
    border-radius: 5px;
  }
  main.login .login-form .form .element .input input {
    width: 100%;
    font-size: 18px;
    font-weight: lighter;
    color: #444053;
    border: 0;
  }
  main.login .login-form .form .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  main.login .login-form .form .buttons button {
    margin: 15px 0;
    width: 45%;
    padding: 15px;
    font-size: 18px;
    border-radius: 5px;
    border: 0;
  }
  main.login .login-form .form .buttons .in {
    background: #444053;
    color: white;
  }
  main.login .login-form .form .buttons .no {
    margin-left: auto;
  }
  footer.login-footer {
    margin-top: 50px;
    padding-left: 100px;
  }
  .dash-nav {
    background: #00BFA6;
  }
  .dash-nav nav a {
    color: white;
  }
  .dash-nav nav a.navbar-brand {
    font-weight: bold;
  }
  .dash-nav nav a.stud-dash {
    font-weight: bold;
  }
  .dash-nav nav a.logout-btn {
    background: #444053;
    font-weight: bold;
    border-radius: 5px;
    margin-left: 5px;
  }
  .dashboard {
    margin-top: 100px;
  }
  .dashboard .test-card {
    background: #00BFA6;
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .dashboard .test-card .test-sub {
    background: white;
    border-radius: 5px;
    padding: 5px 15px;
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
    margin-right: 15px;
  }
  .dashboard .test-card .test-name {
    margin-left: auto;
    margin-right: 15px;
    background: white;
    border-radius: 50px;
    padding: 5px;
  }
  .dashboard .test-card .test-appear .appear-btn {
    border: 0;
    border-radius: 50px;
    background: #444053;
    color: white;
    padding: 5px 15px;
  }
  .dashboard .previous-tests {
    border: 5px solid #444053;
    padding: 0;
    border-radius: 15px;
  }
  .dashboard .previous-tests h4 {
    background: #444053;
    color: white;
    text-align: center;
    padding: 5px 0;
  }
  .dashboard .previous-tests .all-tests {
    padding: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .dashboard .previous-tests .all-tests .a-test {
    background: #008C7A;
    color: white;
    font-weight: bold;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    margin: 0 15px 15px 0;
    padding: 30px;
    text-align: center;
    border-radius: 15px;
    cursor: pointer;
  }
}
/*# sourceMappingURL=main.css.map */