// 
// HOME  CSS
// 

.nav-bar {
    background: $primaryColor;
    display: flex;
    padding: 0 100px;
    align-items: center;

    a:link, a:visited {
        color: white;
    }

    .logo {
        font-size: 18px;
        font-weight: bold;
        
    }

    ul {
        margin-left: auto;
        display: flex;
        align-items: center;
                

        li {
          
            display: block;
            font-size: 14px;
            font-weight: bold;
            margin: 0 5px;
            padding: 15px;

            // align-self: center;

            button {
                cursor: pointer;
                font-size: 14px;
                font-weight: bold;
                color: white;
                background: $secondaryColor;
                border: none;
                border-radius: 50px;
                padding: 5px 15px;
            }

           
        }

        li:hover {
            background: $accent1;
            
        }
    }
}

header {
    display: flex;
    margin: 0 100px;

    .side-img {
        order: 1;
        padding: 50px 100px;

        img {
            height: auto;
            width: 100%;
        }
    }

    .main-card {
        background: $accent3;
        margin: auto 0;
        padding: 70px 50px;
        color: white;
        border-radius: 0 100px 100px 100px;

        h1 {
            font-size: 28px;
            font-weight: bold;
        }

        p {
            font-size: 14px;
            font-weight: bold;
            margin: 50px 0;
        }

        button {
            cursor: pointer;
            background: $secondaryColor;
            color: white;
            font-size: 18px;
            border: none;
            border-radius: 5px;
            padding: 10px 30px;
        }
    }
}

main {
    .cause-up {
        margin-top: -100px;
        margin-bottom: -5px;
        position: relative;
        z-index: -2;
        height: 300px;
        background: $primaryColor;
        clip-path: polygon(50% 70%, 100% 15%, 100% 100%, 0% 100%, 0.00% 15%);
    }

    .the-cause {
        // margin-top: -3px;
        background: $primaryColor;

        .title {
            // margin-top: 10px;
            font-size: 18px;
            font-weight: bold;
            background: white;
            color: $secondaryColor;
            border: 5px solid $secondaryColor;
            padding: 10px 0;
            border-radius: 15px;
            margin: auto 100px;
            text-align: center;
        }

        .cause-card {
            background: white;
            border-radius: 15px;
            margin: 50px 100px 0;
            display: flex;
            // padding: 50px 0;

            .cause-img {
                padding: 50px;
                flex: 1;
                img {
                    width: 100%;
                    height: auto;
                }
            }

            .cause-para {
                flex: 3;
                background: $secondaryColor;
                align-self: center;
                margin: 50px;
                padding: 50px;
                color: white;
            }
        }

        .cause-card:nth-child(odd) {
            .cause-img {
                order: 1;
            }
        }
    }

    .cause-down {
        height: 200px;
        background: $primaryColor;
        clip-path: polygon(100% 0%, 100% 100%, 50% 20%, 0% 100%, 0% 0%);
    }
}

aside.about-us {
    .about-title {
        border: 5px solid $secondaryColor;
        border-radius: 15px;
        padding: 15px;
        margin: 100px;
        text-align: center;
        color: $secondaryColor;
    }

    .about-img {
        padding: 0 300px;
        img {
            width: 100%;
            height: auto;
        }
    }

    .about-para {
        background: $secondaryColor;
        color: white;
        border-radius: 15px;
        margin: 0 100px;
        margin-top: -30px;
        padding: 100px;
        font-size: 18px;
        position: relative;
        z-index: -2;
    }
}

aside.contact-us {
    
    margin-top: 100px;

    .top {

        padding: 50px 100px 100px;
        background: $primaryColor;
        clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 0% 100%);
        
        .contact-title {
           
            border: 5px solid $secondaryColor;
            background: white;
            text-align: center;
            font-size: 18px;
            font-weight: bold;
            color: $secondaryColor;
            border-radius: 15px;
            padding: 15px;
            width: 30%;
            float: right;

        }

        
    }

    .down {
        margin-top: -3px;
        background: $primaryColor;
        padding: 0 100px ;
        display: flex;
        .contact-img {
            
            // border-radius: 15px;
            padding: 100px;
            // padding: 0 0 0 100px;
            background: white;
            margin: 0px -50px 0px 0;
            clip-path: polygon(0% 20%, 100% 0%, 100% 100%, 0% 70%);

            img {
               
                width: 100%;
                height: auto;

            }
        }

        .contact-form {
            position: relative;
            z-index: 0;
            background: $secondaryColor;
            padding: 100px;
            border-radius: 15px;

            h4 {
                text-align: center;
                color: white;
                font-size: 18px;
                font-weight: bold;
                padding: 15px;
            }

            hr {
                border: 3px solid white;
                border-radius: 50px;
            }

            .field {
                border-radius: 5px;
                padding: 15px;
                background: white;
                margin-top: 15px;

                input, textarea {
                    outline: none;
                    border: 0;
                    font-size: 15px;
                    color: $secondaryColor;
                    
                }

            }

            .buttons {
                display: flex;
                // padding: 15px;
                // margin: auto 15px;
                margin-top: 15px;

                
                button {
                    // flex: 1;
                    // margin: 0 5%;
                    padding: 10px 15px;
                    width: 100%;
                    margin: auto 5px;
                    border: none;
                    border-radius: 5px;
                    

                }

                .send {
                    color: white;
                    font-size: 14px;
                    font-weight: bold;
                    background: $primaryColor;
                }

                // .cancel{
                    
                // }
            }
            
        }
    }

    .extra-card {
        margin-top: -3px;
        // position: relative;
        // z-index: 0;
        height: 100px;
        background: $primaryColor;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 26% 100%, 0 28%);
    }

}

footer {
    padding: 100px 15px 15px;
    margin-top: -75px;
    background: $secondaryColor;
    color: white;
    font-size: 18px;
    font-weight: bold;

}

// 
// 
// 
// GETTING STARTED CSS
// 
// 
// 


//getting started
main.get-started {
    display: flex;
    margin: 100px;

    .get-started-img {
        text-align: center;
        margin: 30px auto;
        flex: 1;
        order: 1;
        // padding: 0 300px;

        img {
            width: 100%;
            height: auto;
        }
    }

    .get-started-para {
        padding: 50px 0;
        flex: 1;

        h1 {
            font-size: 32px;
            margin: 30px 0;
        }

        p {
            font-size: 24px;
            font-weight: 300;
        }

        a {
            background: $secondaryColor;
            color: white;
            display: block;
            text-align: center;
            width: 50%;
            margin: 30px 0;
            padding: 15px;
            font-size: 24px;
            border-radius: 15px;
            font-weight: bold;
        }

        p.sub-txt {
            font-size: 14px;
            font-weight: lighter;
        }
    }
}

//work in progress
aside.work {
    background: $primaryColor;
    padding: 0 100px 100px;
    display: grid;
    grid-template-areas: 
        "t t t"
        "i p p"
    ;

    .title {
        // visibility: hidden;;
        text-align: center;
        font-size: 24px;
        color: white;
        padding: 50px;
        grid-area: t;
    }

    .side-img {
        grid-area: i;
        background: white;
        padding: 30px 50px;
        border-radius: 15px;

        img {
            width: 100%;
            height: auto;
        }
    }

    .progress-para {
        grid-area: p;
        margin-left: 100px;
        background: $secondaryColor;
        color: white;
        font-size: 24px;
        font-weight: lighter;
        padding: 50px;
        border-radius: 15px;
    }
}

//meanwhile
aside.meanwhile {
    margin: 100px;
    display: flex;

    .para {
        flex: 1;

        h1 {
            font-size: 32px;
            margin: 50px;
        }

        p {
            font-size: 18px;
            margin: 0 50px;
        }

        a {
            display: block;
            background: $secondaryColor;
            margin: 50px;
            color: white;
            padding: 15px;
            width: 50%;
            text-align: center;
            font-size: 24px;
            border-radius: 15px;
        }
    }

    .side-img {
        flex: 1;

        img {
            width: 100%;
            height: auto;
        }
    }
}

// 
// 
// 
// LOGIN Page
// 
// 
// 

//login
main.login {
    margin: 100px;
    display: flex;
    //demo user
    .demo-user {
        flex:1;
        border: 5px solid $secondaryColor;
        border-radius: 15px;
        padding: 50px;

        .login-img {
            padding: 50px;

            img {
                width: 100%;
                height: auto;
            }
        }

        h1 {
            font-size: 24px;
            font-weight: normal;
            margin-bottom: 15px;
        }

        hr {
            border: 5px double $secondaryColor;
            margin-bottom: 15px;
        }

        h2 {
            font-size: 18px;
            font-weight: lighter;
            margin-bottom: 15px;
        }

        .user-login-cred {

            background: $secondaryColor;
            padding: 5px 10px;
            color: white;
            margin-bottom: 15px;

            .user-type {
                text-align: center;
            }

            .user-pass {
                margin-bottom: 15px;
    
                p {
                    font-weight: bold;
                }
    
                p.cont {
                    background: $primaryColor;
                    color: black;
                    padding: 15px;
                    border-radius: 5px;
                    margin: 5px 0;
                }
            }

        }

        
    }

    //login form
    .login-form {
        flex:2;
        margin-left: 200px;

        .avatar {
            padding: 0 150px;

            img {
                width: 100%;
                height: auto;
            }
        }

        .form {
            margin-top: -100px;
            background: $primaryColor;
            padding: 100px;
            border-radius: 50px;

            .title {
                color: white;
                margin-top: 50px;
            }

            hr {
                border: 3px dashed white;
                margin: 15px 0;
            }

            .form-error {
                color: white;
                background: $accent2;
                text-decoration: underline;
                padding: 5px 10px;

            }

            .element {
                margin: 15px 0;
                .label {
                    font-size: 18px;
                    font-weight: lighter;
                    margin: 5px 0;
                }
                .input {
                    background: white;
                    padding: 5px;
                    border-radius: 5px;

                    input {
                        width: 100%;
                        font-size: 18px;
                        font-weight: lighter;
                        color: $secondaryColor;
                        border: 0;
                    }
                }
            }

            .buttons {
                display: flex;
                // margin: 15px 0;
                button {
                    margin: 15px 0;
                    // display: block;
                    width: 45%;
                    padding: 15px;
                    font-size: 18px;
                    border-radius: 5px;
                    border: 0;
                    cursor: pointer;
                }

                .in {
                    background: $secondaryColor;
                    color: white;
                }

                .no {
                    margin-left: auto;
                }
            }
        }
    }
}

//foot
footer.login-footer {
    margin-top: 50px;
    padding-left: 100px;
}


// 
// 
// STUDENT DASHBOARD
// 
// 
// 


.dash-nav {
    background: $primaryColor; 
    // margin: 0 50px;
    // padding: 50px;
    nav {
        a {
            color: white;
            cursor: default;
        }

        a.navbar-brand {
            font-weight: bold;
        }
        
        a.stud-dash {
            font-weight: bold;
            
        }

        a.logout-btn {
            background: $secondaryColor;
            // padding: 5px 15px;
            // padding: 15px;
            font-weight: bold;
            border-radius: 5px;
            margin-left: 5px;
            cursor: pointer;
        }
    }
}

.dashboard {
    margin-top: 100px;
    // background: red;
    .test-card {
        background: $primaryColor;
        border-radius: 15px;
        padding: 15px;
        margin-bottom: 30px;

        display: flex;
        

        .test-sub {
            background: white;
            border-radius: 5px;
            padding: 5px 15px;
            // width: 50%;
            flex: auto;
            margin-right: 15px;
        }

        .test-name {
            margin-left: auto;
            margin-right: 15px;
            background: white;
            border-radius: 50px;
            padding: 5px;
        }

        .test-appear {
            // margin-left: auto;
            .appear-btn {
                border: 0;
                border-radius: 50px;
                background: $secondaryColor;
                color: white;
                padding: 5px 15px;
            }
        }
    }

    .previous-tests {
        // background: red;
        border: 5px solid $secondaryColor;
        padding: 0;
        border-radius: 15px;

        h4 {
            background: $secondaryColor;
            color: white;
            text-align: center;
            padding: 5px 0;
        }

        .all-tests {
            // background: red;
            padding: 50px;
            display: flex;
            flex-wrap: wrap;
            // justify-content: space-around;

            .a-test {
                background: $accent1;
                color: white;
                font-weight: bold;
                flex: 0 1 auto;
                
                // margin-right: 15px;
                margin: 0 15px 15px 0;
                padding: 30px;
                text-align: center;
                border-radius: 15px;
                cursor: pointer;

            }
        }
    }
}

// 
// 
// PROFESSOR
// DASHBOARD
// 
// 
// 

// .linked {
//     .add-new {
//         border: 10px solid $secondaryColor;
//     }
// }

.linked:hover {
    text-decoration: none;

    .add-new {
        border: 10px solid $secondaryColor;
    }
}

.add-new {
    border: 10px solid $secondaryColor;
    border-radius: 50px;
    padding: 10px;
    width: auto;
    display: flex;
    margin-right: 250px;

    
    .plus-icon {
        background: $secondaryColor;
        font-size: 30px;
        color: white;
        padding: 10px 25px;
        border-radius: 50px;
        // flex: 1 0 auto;
    }

    .add-new-btn {
        color: $secondaryColor;
        font-size: 30px;
        padding: 10px;
        
    }
}

.qb-card {
    margin-top: 50px;
    margin-right: 50px;
    padding: 25px;
    background: $primaryColor;
    border-radius: 15px 100px 100px 15px;
    
    display: flex;
    align-items: center;

    .qb {
        text-align: center;
        background: $accent3;
        font-weight: bold;
        color: white;
        border-radius: 15px;
        padding: 15px 20px;
        font-size: 25px;
        margin-right: 15px;
        
    }

    .add-new {
        border: 10px solid $secondaryColor;
        background: white;
        display: flex;
        align-items: center;
        margin: 0;
        // border: 10px solid;
        padding: 10px;
        
        // margin: 50px 0;
        .plus-icon {
            // justify-self: center;
            font-size: 30px;
            // margin: auto;
            // padding: -20px 20px ;
            // flex: auto;
            // align-items: center;
            
        }

        .add-new-btn {
            padding: 0;
            margin-left: 15px;
            font-size: 20px;
            font-weight: bold;
        }
    }
}

// 
// 
// ADMIN DASHBOARD
// 
// 
.list-all-tests {
    border: 10px solid $secondaryColor;

    .test-header {
        background: $secondaryColor;
        text-align: center;
        color: white;
        font-weight: bold;
        padding: 15px;
    }

    .test-wrap {
        padding: 50px;
    }

    .a-test-card {
        // margin: 50px;
        background: $primaryColor;
        padding: 15px;
        border-radius: 15px;

        .test-subject {
            font-weight: bold;
            background: white;
            text-align: center;
            padding: 15px;
            border-radius: 15px;
        }

        .test-launch {
            background: $secondaryColor;
            text-align: center;
            font-weight: bold;
            color: white;
            padding: 5px;
            border-radius: 5px;
        }

        .test-detail {
            padding: 15px;
            text-align: center;
            font-weight: bold;
        }

        .test-time{
            background: $accent1;
            color: white;
            padding: 15px;
            text-align: center;
            font-weight: bold;
            border-radius: 15px;
        }
    }
}

.side-manage-card {
    background: $primaryColor;
    border-radius: 15px;
    margin-bottom: 50px;

    .side-manage-title {
        text-align: center;
        color: white;
        padding: 15px;
    }

    .side-manage-sq-btn {
        background: $accent1;
        border-radius: 15px;
        color: white;
        text-align: center;
        font-weight: bold;
        margin: 0 0 15px 15px;
        padding: 15px;
    }

    .side-manage-add-btn {
        border-radius: 50px;
        background: white;
        display: flex;
        align-items: center;
        // text-align: center;
        margin: 0 15px 15px 0;
        padding: 15px;

        .plus-btn {
            background: $secondaryColor;
            color: white;
            border-radius: 50px;
            padding: 5px 10px;
        }

        .btn-text {
            font-weight: bold;
            // text-align: center;
            margin-left: 15px;
        }
    }

}